<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Up2Bit</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home_page' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Intro
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">List of cars</a></li>
                            <li><a class="dropdown-item" href="#">List of books</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Student
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Create a new Coin</a></li>
                            <li><a class="dropdown-item" href="#">List of Coins</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Trainer
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Create a new trainer</a></li>
                            <li><a class="dropdown-item" href="#">List of trainers</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Feedback
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Create a new feedback</a>
                            </li>
                            <li><a class="dropdown-item" href="#">List of feedbacks</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
                <div>
                    <a href="#" class="btn btn-secondary"> Logout</a>
                </div>
            {% else %}
                <div>
                    <a href="#" class="btn btn-success">Login</a>
                    <a href="#" class="btn btn-secondary">Sign up</a>
                </div>
            {% endif %}
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>